body {
  font-family: Raleway;
  font-style: normal;
}

/* ШАПКА НАЧАЛО */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 92px 50px;
  font-size: 18px;
  font-weight: 400;
}

.nav {
  justify-self: start;
}

.menu__list {
  display: flex;
}

.menu__list-itemone {
  list-style: none;
}

.menu__list-item {
  list-style: circle;
  margin-left: 32px;
}

.menu__list-link {
  border-bottom: 1px solid black;
}

.logo {
  justify-self: center;
  width: 148px;
}

.info {
  justify-self: end;
  width: 240px;
  text-align: start;
  line-height: 24.3px;
}

.info__contact {
  border-bottom: 1px solid black;
}

/* Баннер */

.jambotron {
  position: relative;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding: 165px 50px 237px;
}

.banner_background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
}

.banner {
  width: 100%;
}

.banner_first {
  text-align: start;
}

.banner_second {
  text-align: center;
}

.banner_third {
  text-align: end;
}

.banner__text-first {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 115%;
  letter-spacing: 30px;
  margin-right: -30px;
}

.banner__text {
  position: relative;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 100%;
  letter-spacing: 30px;
  margin-right: -30px;
}

.banner_bottom {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  align-items: center;
  position: absolute;
  bottom: 50px;
  padding: 0px 50px;
}

.banner_button {
  border: 1px solid #fff;
  display: flex;
  width: 257px;
  height: 57px;
  justify-self: end;
  justify-content: center;
  align-items: center;
}

.banner_button_text {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.banner_bottom_text {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

/*ЛОТЫ */

.lots {
  margin: 180px 50px;
}

.lots_title {
  margin-left: 40px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 25px;
  margin: 30px 0;
  
}

.cards {
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  flex: 1;
  min-width: 430px;
  min-height: 450px;
}

.cards_background {
  position: absolute;
  object-fit: cover;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.cards_title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.cards_text {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.lots_button {
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid #000;
}

/* ОБ АУКЦИОНЕ */

.about {
  display: flex;
  margin: 180px 50px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-left: 95px;
  margin-right: 95px;
  background-color: #000;
}

.about_logo_img {
  width: 148px;
}

.about_info {
  margin-top: 100px;
  margin-left: 25px;
}

.about_info_title {
  margin-bottom: 100px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about_info_text {
  margin-top: 25px;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

/* подвал */

.footer {
  margin: 180px 50px 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  font-size: 18px;
  font-weight: 400;
}

.footer_info {
  justify-self: start;
  max-width: 240px;
  text-align: start;
  line-height: 24.3px;
}

.footer_menu__list {
  text-align: center;
  list-style: none;

}

.socials {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  width: 240px;
}

.socials_link_img {
  width: 48px;
}
